/* Font-Face-Kit */

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"), url("font/Segoe UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Italic"), url("font/Segoe UI Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"), url("font/Segoe UI Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold Italic"),
    url("font/Segoe UI Bold Italic.woff") format("woff");
}

/* Tekst styling */

h1,
h2,
h3,
h4 {
  font-family: "Segoe UI Bold";
}

i,
em {
  font-family: "Segoe UI Bold Italic";
}

p,
a {
  font-family: "Segoe UI Regular";
  font-size: 1.25rem;
}

/* Main styling */

body {
  font-family: "Segoe UI Regular";
  background-color: #fbf8f0;
  color: #8da580;
  margin-bottom: 250px;
}

section {
  max-width: 2000px;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}

/* NAV styling */

ul.dropdown-menu.show {
  margin-left: 2rem;
  background-color: #fbf8f0;
  border: #8da580 1px solid !important;
}

.dropdown-item {
  font-weight: 600;
  color: #729361 !important;
  font-size: 1.5rem;
}
.dropdown-item:hover {
  background-color: #eee7d7;
}

a.nav-link {
  margin-top: 1rem !important;
  margin-left: 2rem;
  font-weight: 600;
  color: #729361 !important;
  text-decoration: underline;
  font-size: 1.5rem;
}

nav {
  border-bottom: #8da580 3px solid;
}

nav img {
  width: 200px;
  margin-right: 1rem;
}

/* Footer styling  */
.footer-07 {
  border-top: 3px #fbf8f0 solid;
  position: fixed;
  background-color: #8da580 !important;
  padding: 2em 0;
  color: #fbf8f0;
  width: 100%;
  bottom: 0;
  margin-top: 1rem;
}

/* Midlertidig restyling af Bootstrap sass  - Primary skal være #8da580, mens secondary skal være #fbf8f0 */

.btn-primary {
  font-weight: bold;
  color: #8da580;
  background-color: #fbf8f0;
  border-color: #8da580;
}

.btn-primary:hover {
  font-weight: bold;
  color: #fbf8f0;
  background-color: #8da580 !important;
  border-color: #fbf8f0 !important;
}

.btn-primary:active {
  font-weight: bold;
  color: #fbf8f0;
  background-color: #8da580 !important;
  border-color: #fbf8f0 !important;
}

.btn-outline-secondary {
  font-weight: bold;
  color: #fbf8f0;
  background-color: #b6c4aa !important;
  border-color: #fbf8f0;
}

.btn-outline-secondary:hover {
  color: #fbf8f0;
  opacity: 80%;
}
.bg-green {
  background-color: #8da580 !important;
  color: #fbf8f0;
}

/* Forside START   */

/* Section styling på Værdiggrundlag: */

.col-6 svg {
  width: 2em;
  height: 2em;
}

.col-6 img {
  width: 2em;
  height: 2em;
}

/* Hover effekt på SoMe-Ikoner  */
.ikon:hover {
  transform: scale(1.15);
  transition: 400ms;
}

.donate-lir {
  height: 100px;
  top: 0%;
  right: 0%;
}

/* Overskriv irriternede fejl  */

.blockquote p {
  margin-top: 2.2rem !important;
  font-size: 1.8rem;
}
.blockquote-footer {
  margin-top: 1.2rem !important;
  font-size: 1.3rem;
  font-family: "Segoe UI Regular";
  color: #8da580;
  font-weight: 600;
}

.blockquote-footer cite {
  margin-top: 0.2rem !important;
  font-size: 0.8rem;
  text-decoration: underline;
  font-family: "Segoe UI Regular";
  color: #8da580;
  font-weight: 600;
}

/* Kategoriside START   */

.cat_section .card {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border: 2px solid #8da580;
}
.cat_section .card:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.cat_section .card h2 {
  text-shadow: 3px 2px 10px rgb(50 50 50 / 79%);
  position: absolute;
  bottom: 2%;
  left: 7%;
  font-size: 2rem;
}

.rundet {
  border-radius: 2.25rem !important;
  border: 1px solid #8da580;
}

.citat-protraet {
  height: 60px;
  width: 60px;
  border: 2px solid #8da580;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -0.7rem;
  margin-left: 0.5rem;
  box-shadow: 1px 2.9px 4px #00000040;
}

/* Artikler  */

.art_section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Medlemskab */

.accordion-button {
  background-color: #fbf8f0;
  color: #729361a9;
}
.accordion-button:not(.collapsed) {
  background-color: #fbf8f0;
  color: #729361;
}

.accordion-body {
  background-color: #fbf8f0;
  color: #729361;
}

.cust-border {
  border: 3px solid #8da580;
}

.cust-border input:focus {
  outline: none;
  border-color: #8da580;
  box-shadow: 0 0 10px #8da580;
}

.cust-border input[type="checkbox"]:checked {
  background-color: #8da580;
  color: #729361;
}

.cust-border .form-control {
  background-color: #fbf8f0;
}

/*  Vores arbejde */

.badge {
  color: #8da580;
}
.list-group-item {
  color: #8da580;
  font-style: italic;
  background-color: #fbf8f0;
  border: none;
  border-bottom: 2px solid #8da580;
}
/* Lidt Media Queries  */
@media only screen and (min-width: 600px) {
  .donate-lir {
    height: 150px;
    top: 0%;
    right: 0%;
  }
}

@media only screen and (min-width: 800px) {
  .respons {
    width: 80% !important;
    margin: auto;
  }
  a.nav-link {
    margin-top: 6rem;
  }
  nav img {
    width: 300px;
    margin-right: 1rem;
  }
  .donate-lir {
    height: 180px;
    top: 0%;
    right: 0%;
  }
}
@media only screen and (min-width: 1200px) {
  .respons {
    width: 80% !important;
    margin: auto;
  }

  .col-6 img {
    width: 6em;
    height: 6em;
  }
  .section {
    padding-top: 2rem;
    padding-left: 14%;
    padding-right: 14%;
  }
  .cat_section .card {
    height: 250px;
  }
  .donate-lir {
    height: 280px;
    top: 0%;
    right: 0%;
  }
  .vaerdi {
    width: 80%;
  }
}
